body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #134ea6, #0068b6, #0080bf, #0096c2, #0fabc2) !important;
}

.naslov{
    text-align: center;
    margin-top: 300px;
    color: White;
}

.dugme{
    text-align: center;
    margin-top: 150px;
}

.dugme button{
    padding: 10px 80px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

.tabla{
    background-color: rgb(226, 226, 226);
    height: 80vh;
    margin: 10vh;
    width: 95vh;
    border-radius: 20% 0px 0px 20%;
}

.salter{
    height: 8vh;
}

.dugi{
    height: 40px;
    background-color: rgb(16, 66, 175);
    width: 30vh;
    float: right;
    margin-top: 31px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}

.employee{
    display: flex;
    align-items: center;
}

.employee button{
    border-radius: 100px;
    padding: 6px 30px 6px 30px;
    font-weight: bold;
    border: none;
    margin-left: 2px;
    color:  rgb(16, 66, 175);
}

.hirer{
    display: flex;
    align-items: center;
}
.hirer button{
    border-radius: 100px;
    padding: 6px 45px 6px 45px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 2px;
}

.header{
    text-align: center;
    padding-top:20px ;
    color: rgb(51, 51, 51);
    margin-bottom: 40px;
}

.col{
    margin-top: 20px;
}

.col input{
    padding:20px;
}

.selekt{
    padding: 0px 56px 0px 5px;
    margin-left: 5px;
    border-radius: 4px;
    padding-top: -60px !important;
    height: 43px;
    margin-top: 19px;
    border: 1px solid lightgray;
}

.radio{
    display: flex;
    width: 20vh;
    justify-content: space-between;
    margin-top: 15px;
}

.register{
    margin-top: 40px;
    float: right;
}

.register button{
    border-radius: 100px;
    padding: 7px 60px 7px 60px;
    font-weight: bold;
    border: none;
    margin-left: 2px;
    background-color:rgb(16, 66, 175);
    font-weight: bold;
    color: white;
    font-size: 20px;
}